@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
    margin: 0px;
    padding: 0px;
}

.page {
    height: 100vw;
    display: flex;
    box-sizing: border-box;
    flex-flow: column nowrap;
    font-family: "Roboto";
}

.header {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    background-color: #1F2937;
}

.top {
    padding: 50px 80px;
    display: flex;
    background-color: #1F2937;
    flex-flow: row nowrap;
}

.topleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.topright {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.herotitle {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}

.signup {
    background-color: #3882F6;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    color: #F9FAF8;
    padding: 5px 25px;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    flex-shrink: 0;
}

.headerlinks {
    display: flex;
    flex-shrink: 0;
    gap: 25px;
}

a, .herosubtext {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.middle {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 200px;
    justify-content: space-around;
    gap: 5px;
    margin: 25px;
}

.middletitle {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    width: 100vw;
    justify-content: center;
}

.card {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
}

.card p{
    display: flex;
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.bottom {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.bottom p {
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
}